<div class="container card card-body">
	<div class="row">
		<h1 class="text-center col-md-12">Add a new car</h1>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img id="image-preview" class="w-100 card-img">
		</div>

		<div class="col-md-6 col-sm-12">
			<form method="post" enctype="multipart/form-data" class="col-md-12">
				<div class="row">
					<label asp-for="Model"></label>
					<input asp-for="Model" class="form-control" />
					<span asp-validation-for="Model" class="text-danger"></span>
				</div>
				<div class="row">
					<label asp-for="Year"></label>
					<input asp-for="Year" class="form-control" />
					<span asp-validation-for="Year" class="text-danger"></span>
				</div>
				<div class="row">
					<label asp-for="ImageUrl"></label>
					<input id="image-upload" asp-for="ImageUrl" accept="image/jpeg, image/png" class="form-control" />
				</div>
				<div class="row">
					<label asp-for="PlateNumber"></label>
					<input asp-for="PlateNumber" class="form-control" />
					<span asp-validation-for="PlateNumber" class="text-danger"></span>
				</div>
				<br />
				<div class="row">
					<button class="btn btn-primary col-12" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_CreationScriptsPartial" />
}
