@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h2 class="display-4">Welcome to C# Team Stamo CarShop!</h2>
    <hr>
    <h3 class="lead">Provide us with your car and all known issues. We'll take care of the rest!</h3>

    <img class="img-fluid" src="https://miro.medium.com/max/4320/1*JktzC9GrA_l4yz0cCy8a5Q.jpeg">

    <h3 class="lead">
        <a asp-area="Identity" asp-controller="Identity" asp-action="Login">Login</a>
        if you have an account or
        <a asp-area="Identity" asp-controller="Identity" asp-action="Register">Register</a>
        now and check our deals.
    </h3>
</div>
