@{
	ViewBag.Title = "Login";
}

<h2 class="text-center">Login</h2>
<hr>

<form method="post" enctype="multipart/form-data">
	<div class="row">
		<label asp-for="Username" class="mx-auto"></label>
		<input asp-for="Username" class="form-control" />
		<span asp-validation-for="Username" class="text-danger"></span>
	</div>

	<div class="row">
		<label asp-for="Password" class="mx-auto"></label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<br>
	<div class="row">
		<button class="btn btn-primary w-100" type="submit">Login</button>
	</div>
</form>
